## Covid Dataset
Q. 1) Show the number of Confirmed, Deaths and Recovered cases in each Region. <br>
Q. 2) Remove all the records where the Confirmed Cases is Less Than 10. <br>
Q. 3) In which Region, maximum number of Confirmed cases were recorded ? <br>
Q. 4) In which Region, minimum number of Deaths cases were recorded ? <br>
Q. 5) How many Confirmed, Deaths & Recovered cases were reported from India till 29 April 2020 ? <br>
Q. 6-A ) Sort the entire data wrt No. of Confirmed cases in ascending order. <br>
Q. 6-B ) Sort the entire data wrt No. of Recovered cases in descending order.

In [2]:
import pandas as pd
data = pd.read_csv('file.csv')

In [3]:
data.head(5)

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7

In [4]:
data.shape

(321, 6)